{% extends 'dashboard.html.twig' %}

{% block title %}{{ course.name }}!{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <h1>{{course.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <table>
            <tr>
                <th>Sesi贸n</th>
                <th>Auto evaluaci贸n</th>
                <th>Calificaci贸n de Profesor</th>
                <th>Acci贸n</th>
            </tr>
            {% foreach session in course.sessions%}

        </table>        
    </div>
</div>

{% endblock %}
