{% extends 'dashboard.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>Crear Programa</h1>

    {{ include('program/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('program_index') }}">Volver</a>
{% endblock %}
