{% extends 'dashboard.html.twig' %}

{% block title %}Nueva sesión{% endblock %}

{% block body %}
    <h1>Crear sesión</h1>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('teacher_course',{'id':course.id}) }}">Cancelar</a>
{% endblock %}
