{% extends 'dashboard.html.twig' %}

{% block title %}Modificar Role{% endblock %}

{% block body %}
    <h1>Modificar Role</h1>

    {{ include('role/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a class="btn btn-warning" href="{{ path('role_index') }}">Volver</a>

    {{ include('role/_delete_form.html.twig') }}
{% endblock %}
