{% extends 'dashboard.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
    <h1>Crear Modulo</h1>

    <p>Crear modulo en: <b>{{program.name}}</b></p>

    {{ include('module/_form.html.twig') }}

    <a href="{{ path('program_modules',{'id':program.id}) }}">Regresar</a>
{% endblock %}
