{% extends 'dashboard.html.twig' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block body %}

<h1>Cambiar contraseña</h1>

<div class="row">
    <div class="col-6">
        
    {{ include('dashboard/_form.html.twig', {'button_label': 'Cambiar'}) }}

        <a class="btn btn-danger" href="{{ path('user_profile',{'id':app.user.id}) }}">Cancelar</a>
    </div>
</div>

{% endblock %}
